@model KressaFashionHub.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = "Add Page";
}

<h2>Add Page</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Wedding Store A Ecommerce Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <link href="~/weddingcss/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/weddingjs/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/weddingcss/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="~/weddingjs/simpleCart.min.js"></script>
    <!-- start menu -->
    <link href="~/weddingcss/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/weddingjs/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!-- /start menu -->
</head>
<body>
    <!--header-->
    <div class="top_bg">
        @*<div class="container">
                <div class="header_top-sec">
                    <div class="top_right">
                        <ul>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    <div class="top_left">
                        <ul>
                            <li><a href="/">Papilion Fashion Hub</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>*@
    </div>
    <div class="header-top">
        <div class="header-bottom">
            <div class="container">
                <div class="logo">
                    <a href="/admin/dashboard"><h1>Wedding Store</h1></a>
                </div>
                <!---->

                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li class="active"><a href="/admin/dashboard">Home</a></li>
                        <li class="grid">
                            <a href="/admin/pages">Pages</a>
                        </li>
                        <li class="grid">
                            <a href="/admin/pages/EditSidebar">Sidebar</a>
                        </li>
                        <li class="grid"><a href="/admin/shop/Categories">Categories</a></li>
                        <li class="grid"><a href="/admin/shop/Products">Products</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <!---->
                <div class="cart box_1">
                    <a href="checkout.html">
                        <h3>
                            <div class="total">
                                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
                            </div>
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                <!---->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    @*<div class="page-banner">
            <div class="container">
            </div>
        </div>*@
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Home</a></li>
            <li class="active">Add Page</li>
        </ol>
    </div>

    @if (TempData["SM"] != null)
    {
        <div class="alert alert-success">
            @TempData["SM"]
        </div>
    }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Sorting, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sorting, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sorting, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <label class="control-label col-md-2" for="HasSidebar">Sidebar</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.HasSidebar)
                        @Html.ValidationMessageFor(model => model.HasSidebar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Page" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Pages", "Index")
    </div>

    @section Scripts{
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("Body");
        </script>
    }
    </body>
</html>
